@model IEnumerable<LibraryCenter.Models.Library>
@{
    ViewData["Title"] = "Libraries";
}

<h1>ספריות</h1>

<p>
    <a asp-action="Create">הוסף ספרייה חדשה</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
           
            <td>
                @Html.ActionLink("עריכה", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("מדפים", "LibraryShelves", new { id = item.Id }) |
                    @Html.ActionLink("מחיקה", "DeleteLibrary", new { id = item.Id })
               
            </td>
        </tr>
}
    </tbody>
</table>
